/ {
    chosen {
        zmk,split-role = "central";
    };

    wired_split: wired_split {
        compatible = "zmk,wired-split";
        label = "Wired split (left)";
        device = <&uart1>;
    };
};
